body {
  background-color: #84c4f8
}

.App {  
  display: flex;  
  justify-content: center;  
  padding-top: 20%;
}

.buttons {  
  backface-visibility: true;
  background: linear-gradient(135deg, #fcec0d 0%,#41e6f5 100%);
  line-height: 60px;  
  font-size: 1.5em;  
  cursor: pointer;  
  display: flex;  
  flex-wrap: wrap;  
  flex: 0 1 100%;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
}

.button {   
  color: #2F2B2D;  
  display: flex;  
  justify-content: center;  
  flex: 0 1 25%;
}

.button:hover {
  background: #c3fff5;
  opacity: 0.8;
}

.button.right {  
  color: white;
}

.button.classic.zero {  
  flex: 2;
  border-radius: 0 0 0 1rem;
}

#equals {
  border-radius: 0 0 1rem 0;
}

.calculator {  
  font-family: 'Indie Flower', cursive;
  width: 300px;  
  display: flex;  
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 1rem;
}

.display {  
  background: rgb(255, 255, 255);  
  color: #2F2B2D;  
  padding-right: 10px;
  font-weight: 100;  
  font-size: 4em; 
  line-height: 90px;  
  justify-content: flex-end;  
  display: flex;  
  flex-wrap: wrap; 
  border-bottom: 1px solid grey;
  border-radius: 1rem 1rem 0 0; 
  flex: 1 100%;  
}
