body {
  background-color: #2F2B2D;
}

.App {  
  display: flex;  
  justify-content: center;  
  padding-top: 5%;
}


.buttons {  
  backface-visibility: true;
  background: darken( $orange, 5% );
  line-height: 60px;  
  font-size: 1.25em;  
  cursor: pointer;  
  display: flex;  
  flex-wrap: wrap;  
  flex: 0 1 100%;
}

.button {  
  background: #8DD2C6;  
  color: #2F2B2D;  
  display: flex;  
  justify-content: center;  
  flex: 0 1 25%;
}

.button.top {  
  background: #8DD2C6;
} 

.button:hover {
  background: #9be9dc;
  opacity: 0.8;
}

.button.right {  
  background: #8DD2C6;  
  color: white;
}

.button.right.equals {
  border-radius: 0 0 1rem 0;
}

.button.classic.zero {  
  flex: 2;
  border-radius: 0 0 0 1rem;
}

.calculator {  
  font-family: 'Indie Flower', cursive;
  width: 300px;  
  display: flex;  
  flex-wrap: wrap;
}

.display {  
  background: #F8F9F8;  
  color: #2F2B2D;  
  padding-right: 10px;
  border-radius: 1rem 1rem 0 0;  
  font-weight: 100;  
  font-size: 4em; 
  line-height: 90px;  
  justify-content: flex-end;  
  display: flex;  
  flex-wrap: wrap;  
  flex: 1 100%;  
}
